# Dependencias
node_modules/

# Archivos generados durante el desarrollo
npm-debug.log
yarn-error.log
.env

# Archivos de construcción y dependencias generadas
/build
/dist

# Configuración local
.vscode/
.idea/

# Dependencias específicas de sistema operativo o IDE
.DS_Store
Thumbs.db
